@tailwind base;
@tailwind components;
@tailwind utilities;

$colorFondo : #23272E;
@import "./react.scss";
@import "./Hamburgues.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: $colorFondo;
}

#nav-container-app {
  top: -100%;

  ul {
    li {
      a {
        display: inline-block;
        width: 100%;
      }
    }
  }
}